.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full{
    padding: 9px;
}

.delete-form{
    display: inline;
}

.thumbnail .tile-img{
    height: 180px;
}

.list-group-item .location-header{
    color: black;
}

#map{
    height: 400px;
    width: 100%;
}